:root{
  --color1: #0C2D57;
  --color2: #FC6736;
  --color3: #FFB0B0;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
}

header{
  /*Flex-box*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color2);

  padding-left: 1rem;
  padding-right: 0.5rem;
  
  position: sticky;
  top: 0;
  z-index: 999;
}

header h1{
  font-size: 2.5rem;
  margin: 0 0 1rem;
}

.title a{
  text-decoration: none;
  color: black;
}

.username{
  font-family: 'YellowTail', cursive;
  font-weight: 500;
}

#nav-list a{
  margin: 0 1rem;
  text-decoration: none;
  color: #0C2D57;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#nav-list a:hover{
  font-size: 1.3rem;
}

/*Main section CSS Starts here*/
main{
  color: white;
  width:100%;
  margin: 0 auto;
  
}

/*About css section*/
#welcome-section{
    /*Grid display*/
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(min-content, 1000px) minmax(0,1fr);
    background: url("./Resources/Cropped\ Profile.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    

    background-color: var(--color1);
    padding: 1rem 2rem 0rem;
    margin: 0;
    height: calc(100vh);
    width: 100%;

    position: relative;
}


#welcome-section::before{
  content: "";
  width: 100%;
  height: 35%;
  z-index: 1;
  position: absolute;
  top: 0;
  left:0 ;

  background: linear-gradient(
    var(--color1) 60%, 
    transparent
    );

  
} 

.actual-about{
  z-index: 2;
  grid-column: 2/3;
  position: relative;
}

.actual-about h1{
  margin-top: 0;
}

.emphasise{
  font-family: "Anton";
  font-size: 6rem;
  color: var(--color3);
}

.custom-shape-divider-bottom-1709009140 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709009140 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 95px;
}

.custom-shape-divider-bottom-1709009140 .shape-fill {
  fill: #FFB0B0;
}

/*Projects css section*/
#projects{
  /*CSS Grid Settings*/
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(min-content, 1000px) minmax(0,1fr);

  border: 0;
  padding: 1rem;
  background-color: #FFB0B0;
  text-align: center;
}

#actual-projects-section{
  grid-column: 2 / 3;
  padding-bottom: 2rem;
}

#projects hr{
  border: 1px solid #EFECEC;
}

#showcase-one-project-section svg{
  margin: 0;
}

.projects-container img{
  width: 100%;
  max-width: 300px;
}

/*CSS Grids for Projects container*/
.projects-container{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  padding-bottom: 3rem;

}

#projects .project{
  text-align: center;
}

.project a{
  padding-top: 1rem;
  text-decoration: none;
  color: black;
  
}

/*This section is for project showcase (one at a time section)*/
#showcase-one-project-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#showcase-one-project-section::before, #showcase-one-project-section::after{
  content: ' ';
}

.showcase-direction-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.showcase-direction-container::before,
.showcase-direction-container::after{
  content:"";
}

#showcase-one-project-section button{
  border: none;
  max-height: fit-content;
  font-size: 3rem;
  /* background-color: transparent;
*/}

.project-showcase{
  background-color: #EFECEC;
  padding: 1rem 2rem 1rem;
  max-width: 600px;
  border-radius: 5%;
  box-shadow: 5px 5px black;
}

.project-showcase-image{
  width: 50vw;
  height: auto;
  max-width: 500px;
  object-fit: contain;
  border-radius: 5%;
}

#showcase-project-container a {
  text-decoration: none;
  color:#0C2D57;
  font-size: 1.5rem;
}

/*Keep this section*/
.project-selector{
  color: transparent;
  font-weight: bold;
  font-size: 1.1rem;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out
}

.project-title-container:hover .project-selector{
  color: #FC6736;
}

.project-selector::before{
  content: " ";
}
.project-selector::after{
  content: " ";
}

.show-others-button{
  text-decoration: none;
  background-color: #FC6736;
  padding: 0.8rem;
  border-radius: 5%;
  margin-bottom: 1rem;
}

.move-forward{
  font-weight: bold;
  font-size: 1.2rem;
}

.move-forward::before{
  content: " ";
}
/* Keep until here*/

/*Contacts section*/
#contacts{
  background-color: #0C2D57;
  border: 0;
  padding: 2rem 0.5rem;
  text-align: center;
  height: 100vh;
  position: relative;

  /*Grid display*/
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(min-content, 1000px) minmax(0,1fr);
}

.custom-shape-divider-top-1709086425 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1709086425 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 268px;
}

.custom-shape-divider-top-1709086425 .shape-fill {
  fill: #FFB0B0;
}

#contacts h2{
  padding-top: 3rem;
  font-size: 5rem;
}

.social-media-icons{
  margin-top: 4rem;
}

.icon{
  display: inline-block;
  font-size: 4rem;
  margin-right: 1rem;
  transition-duration: 0.3s;
}

.icon:hover{
  color: #FC6736 !important;
  transform: translateY(-10px);
}

.icon a, .icon a:before{
  color: white;
}

/*Footer CSS Section*/
footer{
  background-color: #FC6736;
  padding: 1rem;
  font-size: 1.1rem;
}

/*Miscellaneous classes*/
@keyframes neon_flicker{
  0%{
     text-shadow: 0px 0px 10px;
   }
   50%{
     text-shadow: 0px 0px 1px;
     }
   100%{
     text-shadow: 0px 0px 10px;
   } 
 
 }

.neon{
  text-shadow: 0px 0px 10px;
  -webkit-animation: neon_flicker 1s linear infinite ;
  animation: neon_flicker 10s linear 0 infinite;
}


/*Small screen settings*/
@media (max-width:912px){
  header{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  #welcome-section{
    background-size: cover;
    background-position: center top; /* Center the image */ 
    background-repeat: no-repeat; /* Do not repeat the image */
  }

  #welcome-section::before{
    background: linear-gradient(
      var(--color1) 70%, 
      transparent
      );
      /* background: black; */

    border-radius: 0% 0% 30% 30%;
  }

  .emphasise{
    font-size: 3rem;
  }

  .project-image{
    width: 100%;
    padding-left: 0;
    
  }

  #showcase-project-container a {
    font-size: 1rem;
  }
  #contacts h2{
    padding-top: 1rem;
    font-size: 4rem;
  }

}